name: Build Image
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build, Tag, Push
        uses: mattdavis0351/actions/docker-gpr@v1
        with:
          repo-token: ${{ secrets.GH_TOKEN }}
          image-name: noisy
          dockerfile-location: /Dockerfile
    # - uses: actions/checkout@master
    # - name: Build the Docker image
    #   run: docker build -t noisy:latest .

